<div class=" absolute top-1/2 left-1/2 right-1/2 flex justify-center">
    <%= button_to "Log in with Spotify", "/auth/spotify?show_dialog=true", method: :post, data: {turbo: "false" }, form_class: 'text-center text-2xl font-bold rounded-3xl bg-green-500 py-4 px-2', class: "w-64"%>
</div>

