
<%= turbo_frame_tag "episodes" do %>
    <div>
        <% episodes.each do |episode| %>
            <%= render partial: "full_episode", locals: {episode: episode} %>
        <% end %>
    </div>
<% end %>