<div class="shrink-0 flex flex-col w-52 mr-16" data-controller="episode" >
<div class="relative" data-episode-target = "episode" data-action="mouseover->episode#playHover mouseleave->episode#exitHover">
    
    <div class="z-10 hidden absolute right-1/2 top-1/2" >
        <%= link_to  "https://open.spotify.com/episode/#{episode.spotify_id}?si" do %>
            <i class="fa-solid fa-play text-green-500 text-4xl cursor-pointer" id="play_button"></i>
        <% end %>
        
    </div>

    <div class="z-0">
        <img src="<%= episode.image%>" alt="profile" width="200" height="200" class="rounded"  />
    </div>
        
    
</div>
    
    <div class="text-center inline-block">
        <h3 class="text-ellipses">
            <%= episode.name%>
        </h3>
        <h4 class="text-sm mt-1 text-slate-400">
            <%= episode.show%>
        </h4>
    </div>
</div>
