<% frame_id = dom_id(@episode, "youtube_form") %>
<%= turbo_frame_tag frame_id do %>
<div class="flex mb-4 lg:mr-12 m-2">
    <%= form_with model: @episode, class: "flex justify-end w-full" do |form| %>
        <%= form.text_field :youtube_id, placeholder: "Enter Youtube URL...", class: "w-3/4 lg:w-1/3 rounded-3xl border-0 text-black" %>
        <%= form.submit "Done", class: "hover:cursor-pointer ml-3", data: {turbo_frame: @episode} %>
    <% end %>
</div>
<% end %>
