<%= turbo_frame_tag "history" do %>
    <div class="mx-2 my-8">
        <h2 class="font-bold text-3xl mb-4 ">My History</h2>
        <%= render partial: "shared/filters", locals: {source: 'history'} %>
        <%= render partial: "episode_list", locals: {episodes: @episodes} %>
    </div>
<% end %>