<div class="mx-2 my-8">
    <h2 class="font-bold text-3xl mb-4 ">My Episodes</h2>
    <%= render partial: "shared/filters", locals: {source: 'index'} %>
    <%= render partial: "episode_list", locals: {episodes: @episodes} %>
</div>